#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none  &none           &none         &none         &none      &none                                   &none        &none  &none      &none     &none                 &none
&none  &kp Q           &kp W         &kp E         &kp R      &kp T                                   &kp Y        &kp U  &kp I      &kp O     &kp P                 &none
&none  &kp A           &kp S         &kp D         &kp F      &kp G             &none        &none    &kp H        &kp J  &kp K      &kp L     &kp SEMI              &none
&none  &kp Z           &kp X         &kp C         &kp V      &kp B             &kp TAB      &kp RET  &kp N        &kp M  &kp COMMA  &kp DOT   &mt RIGHT_SHIFT FSLH  &none
&none  &kp LEFT_SHIFT  &kp LEFT_ALT  &kp LEFT_GUI  &kp LCTRL  &lt 1 LANGUAGE_2  &lt 3 SPACE  &tog 1   &lt 2 LANG1  &none  &none      &kp APOS  &kp EQUAL             &none
            >;
        };

        layer_1 {
            bindings = <
&trans        &trans        &trans          &trans          &trans           &trans                  &trans  &trans  &trans     &trans     &trans  &trans
&trans        &trans        &trans          &msc SCRL_UP    &trans           &trans                  &trans  &trans  &mkp MCLK  &trans     &trans  &trans
&trans        &trans        &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_RIGHT  &trans  &trans  &trans  &trans  &trans  &mkp LCLK  &mkp RCLK  &trans  &trans
&trans        &trans        &trans          &trans          &trans           &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans  &trans
&out OUT_USB  &out OUT_BLE  &bt BT_NXT      &trans          &trans           &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans          &trans  &trans  &trans  &trans                      &trans            &trans             &trans          &trans           &trans         &trans
&trans  &kp ESC         &kp N1  &kp N2  &kp N3  &kp GRAVE                   &kp DEL           &kp SQT            &kp UP_ARROW    &kp EQUAL        &kp MINUS      &trans
&trans  &kp TAB         &kp N4  &kp N5  &kp N6  &kp PERIOD  &trans  &trans  &kp BACKSPACE     &kp LEFT_ARROW     &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp RET        &trans
&trans  &kp LEFT_SHIFT  &kp N7  &kp N8  &kp N9  &kp N0      &trans  &trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LPAR        &kp RPAR         &kp BACKSLASH  &trans
&trans  &trans          &trans  &trans  &trans  &trans      &trans  &trans  &trans            &trans             &trans          &trans           &trans         &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                       &trans    &trans     &trans         &trans   &trans  &trans
&trans  &trans  &kp F1  &kp F2  &kp F3  &kp F12                      &kp HOME  &kp PG_UP  &kp PAGE_DOWN  &kp END  &trans  &trans
&trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans  &trans      &trans    &trans     &trans         &trans   &trans  &trans
&trans  &trans  &kp F7  &kp F8  &kp F9  &kp F10  &trans  &sys_reset  &trans    &trans     &trans         &trans   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans   &trans  &trans      &trans    &trans     &trans         &trans   &trans  &trans
            >;
        };
    };
};
